
html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#barchart, #scatterplot {
    border: 1px solid gray;
    height: 300px;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
}