
html, 
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #f3f3f3;
    font-family: "Roboto", sans-serif;
}

#buttons {
    width: 80%;
    margin: 10px auto 0 auto;
    text-align: center;
}

#update-barchart,
#update-scatterplot {
    display: inline-block;
    height: 50px;
    width: 180px;
    background-color: white;
    line-height: 46px;
    font-size: 18px;
    color: rgba(52, 152, 219, 1);
    border: 1px solid rgba(52, 152, 219, 1);
    border-radius: 2px;
    transition: all 0.1s ease;
}

#update-barchart:hover,
#update-scatterplot:hover {
    color: white;
    background-color: rgba(52, 152, 219, 1);
    cursor: pointer;
}

#barchart, 
#scatterplot {
    border: 1px solid rgba(60, 60, 60, 0.2);
    height: 300px;
    width: 80%;
    margin: 10px auto;
    padding: 5px;
    background-color: white;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 11px;
}